.carousel-item {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
}

.carousel-item>a>img,
.carousel-item>img {
  max-width: 100%;
  height: auto
}

.carousel-caption>h6{
  font-size: 18px;
}

@keyframes fromrighttoactive {
  0% {
    transform: translateX(100%)
  }

  100% {
    transform: translateX(0)
  }
}

@keyframes fromactivetoleft {
  /* 0% {
    transform: translateX(0)
  } */

  100% {
    transform: translateX(-100%);
    opacity: 0
  }
}

@keyframes fromlefttoactive {
  0% {
    transform: translateX(-100%)
  }

  100% {
    transform: translateX(0)
  }
}

@keyframes fromactivetoright {
  /* 0% {
    transform: translateX(0)
  } */

  100% {
    transform: translateX(100%);
    opacity: 0
  }
}
