<div class="container-fluid">
  <nav class="nav nav-tabs">
    <a class="nav-link" routerLink="home"><img src="../assets/favicon/favicon-32x32.png"></a>
    <a class="nav-link" routerLink="home">Home</a>
    <a class="nav-link" routerLink="contact">Contact</a>
    <a class="nav-link" routerLink="pictures">Pictures</a>
    <a class="nav-link" routerLink="visit">Visit</a>
    <a class="nav-link" routerLink="acknowledgements">Acknowledgements</a>
  </nav>
    <router-outlet></router-outlet>
</div>
