<!-- <img src="../../assets/images/sidney_sime_400_cropped.jpg"> -->
<div class="row">
  <div class="col-sm">
    <carousel interval="4000" active="0" class="carousel1">
      <slide index="0">
        <img src="../../assets/simepix/slideshow/pic0.jpg" alt="">
      </slide>
      <slide index="1">
        <img src="../../assets/simepix/slideshow/pic1.jpg" alt="">
      </slide>
      <slide index="2">
        <img src="../../assets/simepix/slideshow/pic2.jpg" alt="">
      </slide>
      <slide index="3">
        <img src="../../assets/simepix/slideshow/pic3.jpg" alt="">
      </slide>
      <slide index="4">
        <img src="../../assets/simepix/slideshow/pic4.jpg" alt="">
      </slide>
      <slide index="5">
        <img src="../../assets/simepix/slideshow/pic5.jpg" alt="">
      </slide>
      <slide index="6">
        <img src="../../assets/simepix/slideshow/pic6.jpg" alt="">
      </slide>
    </carousel>
  </div>
</div>
